<div class="form_{{ type }}{% if class %} {{ class }}{% endif %}">
{% switch type %}
{% case "text" %}
	<label for="{{ tech-id }}">{{ label }}</label>
	<input
		type="text" id="{{ tech-id }}" name="{{ tech-id }}" value="{{ default|encode }}"
		{% if suggestions %}list="{{ tech-id }}_list"{% endif %}
		{% if constraints.maxlength %}maxlength="{{ constraints.maxlength }}"{% endif %}
		{% if constraints.pattern %}pattern="{{ constraints.pattern }}"{% endif %}
		{% if constraints.required %}required="required"{% endif %}
	/>
	{% if suggestions %}
		<datalist id="{{ tech-id }}_list">
		{% for v in suggestions %}
			<option value="{{ v|encode }}"/>
		{% endfor %}
		</datalist>
	{% endif %}
{% case "longtext" %}
	<label for="{{ tech-id }}">{{ label }}</label>
	<textarea
		id="{{ tech-id }}" name="{{ tech-id }}"
		{% if constraints.maxlength %}maxlength="{{ constraints.maxlength }}"{% endif %}
	>{{ default|encode }}</textarea>
{% case "bool" %}
	<input type="checkbox" id="{{ tech-id }}" name="{{ tech-id }}" value="{{ 1 }}" {% if default %}checked="checked"{% endif %} />
	<label for="{{ tech-id }}">{{ label }}</label>
{% case "list" %}
	<label for="{{ tech-id }}">{{ label }}</label>
	<select id="{{ tech-id }}" name="{{ tech-id }}{% if multiple %}[]{% endif %}" {% if multiple %} multiple="multiple"{% endif %}>
		{% for k, v in options %}
			<option value="{{ k|encode }}" {% if k == default %} selected="selected"{% endif %}>{{ v|encode }}</option>
		{% endfor %}
	</select>
{% case "file" %}
	<label for="{{ tech-id }}">{{ label }}</label>
	<input type="file" id="{{ tech-id }}" name="{{ tech-id }}"
		{% if constraints.type %}accept="{{ constraints.type }}/*"{% endif %}
	/>
{% case "submit" %}
	<button type="submit">{{ label }}</button>
{% case * %}
	[ERROR: Unknown type <i>{{ type }}</i> in form config]
{% endswitch %}
</div>
